@charset "UTF-8";
label{
    display: inline-block;
    text-align: right;
    width: 160px;
}
body{
	
	background-color: #e5ffff;
	color:#000000;
}
a{
	color: rgb(255, 255, 255);
	background-color: rgb(0, 128, 192);
	border-radius: 100vh;
	padding: 0.5em;
}
.initial{
	color: initial;
	background-color: initial;
	border-radius: initial;
	padding: initial;
	border:initial;
}
table {
	text-align: center;
}
.block {
	display: block;
}
.flex {
	display: flex;
}